{{yield}}
<!-- H20 -->
<div class="container" id="h2o">

  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer text-center" id="head">
    <h1 id="led">H2O</h1>
    <p>Chinese Young Adult &amp; Youth Fellowship<br>中国情人团契</p>
    <!-- <p>As our church gets bigger, we get smaller. Come get plugged in to a small group where you can build authentic relationships.</p> -->
    <!-- <p><a class="btn btn-primary btn-large">Call to action!</a></p> -->
  </header>

  <hr>

  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://www.desktopaper.com/wp-content/uploads/Lijiang-City-Of-China-HD-Wallpaper-1440x900-slwallpapers.com_-800x500.jpg" alt="">
        <div class="caption">
          <h3>Our Group</h3>
          <p>H2O 是我们的团旗欢迎大家。</p>
          <p>
            <!-- Hello -->
            <!-- <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a> -->
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://wallpaperspal.com/wp-content/uploads/Lotus-Building-Changzhou-China-Wallpaper-800x500.jpg" alt="">
        <div class="caption">
          <h3>Fellowship Time</h3>
          <p>每个星期五我们有唱歌，学习玩玩。7点钟开始。</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://everyinvestor.co.uk/wp-content/uploads/2015/08/shutterstock_151985114-800x500_c.jpg" alt="">
        <div class="caption">
          <h3>Contact Us</h3>
          <p>Email: h2o[at]gmail.com</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <!-- <img src="http://placehold.it/800x500" alt=""> -->
        <div class="caption">
          <h3>Upcoming Events</h3>
          <ul id="events">
            <li>9/18: 7pm Fellowship Discussion</li>
            <li>9/25: 7pm Fellowship</li>
            <li>10/2: 7pm Fellowship</li>
            <li>10/30: 7pm Prayer &amp; Praise Night</li>
            <li>11/26: 7pm Thanksgiving Dinner</li>
            <li>12/19: 7pm Christmas Party</li>
            <li>10/30: 7pm Prayer and Praise Night</li>
            <li>10/30: 7pm Prayer and Praise Night</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
