{{yield}}
<div class="container" id="led">
  <!-- Jumbotron Header -->
  <header class="jumbotron hero-spacer text-center" id="head">
    <h1 id="led1">LED</h1>
    <p>A Young Adult Fellowship</p>
    <br>
    <div class="container-fluid" id="ledButtons">
      <a href="#pictureLED" id="btnLEDPicture"class="btn btn-dark btn-lg">Photos</a>
      <a href="#" id="btnLEDHome" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span></a>
      <a href="scheduleLED" id="btnLEDSchedule"class="btn btn-dark btn-lg">Schedule</a>
    </div>
  </header>
  <hr>
  <!-- Title -->
  <div class="row">
    <div class="col-lg-12">
      <h3>Latest</h3>
    </div>
  </div>
  <!-- /.row -->

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://i.imgur.com/corGOIU.jpg" alt="">
        <div class="caption">
          <h3>Our Group</h3>
          <p>LED stands for Light Emitting Disciples, which is our desire to show Jesus's love for the less fortunate.</p>
          <p>
            <!-- Hello -->
            <!-- <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a> -->
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="http://a1.mzstatic.com/us/r30/Purple1/v4/b8/ee/55/b8ee5514-f90e-994f-41bc-7232d15e4a6f/screen800x500.jpeg" alt="">
        <div class="caption">
          <h3>Fellowship Time</h3>
          <p>Every Friday, we meet at 7:00pm to have worship, bible study, and games. Come join us for a fun time.</p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <img src="https://www.gpstuner.com/wp-content/uploads/2013/09/news_20130925-800x500.jpg" alt="">
        <div class="caption">
          <h3>Contact Us</h3>
          <p>Email: ledfellowship[at]gmail.com</p>
          <p>
            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 hero-feature">
      <div class="thumbnail">
        <!-- <img src="http://placehold.it/800x500" alt=""> -->
        <div class="caption">
          <h3>Upcoming Events</h3>
          <ul id="events">
            <li>9/19: 5pm Back To School BBQ</li>
            <li>10/16: 7pm Dodgeball / Gym Night</li>
            <li>10/30: 7pm Prayer &amp; Praise Night</li>
            <li>11/26: 7pm Thanksgiving Dinner</li>
            <li>12/19: 7pm Christmas Party</li>
            <li>10/30: 7pm Prayer and Praise Night</li>
            <li>10/30: 7pm Prayer and Praise Night</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
