{{yield}}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h4>{{comment.name}} says </h4>
        <p>{{comment.description}}</p>
        <p>{{format-date comment.time}}</p>
      </div>
    </div>
  </div>
</div>
